GUI_Test2/GUI_Test2/obj/Debug/GUI_Test2.exe
GUI_Test2/GUI_Test2/obj/Debug/GUI_Test2.pdb
*.cache
GUI_Test2/GUI_Test2/bin/Debug/GUI_Test2.pdb
GUI_Test2/GUI_Test2/bin/Debug/GUI_Test2.pdb
GUI_Test2/.vs
GUI_Test2/GUI_Test2/bin
GUI_Test2/GUI_Test2/obj
GUI_Test2/.vs/GUI_Test2/v14/.suo
GUI_Test2/codegen_test/VC
GUI_Test2/codegen_test/SFML-2.4.2
GUI_Test2/codegen_test/main.exe
GUI_Test2/codegen_test/*.obj
testSFML/SFML-2.4.2
testSFML/testSFML/main.cpp